nav{
    background-color: navy;
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    padding-top: 15px;
    width: 100%;
}
.boarderDaily{
    border: 1px solid gray;
}
.boarderFive{
    border: 1px solid gray;
}
.searchArea{
    border: 1px solid gray;
    background-color: rgb(221, 221, 221);
    font-size: 20px;
}
.oldSearches{
    color: rgb(176, 176, 177);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 2px;
    text-align: left;
    width: 200px;
}
.extreme{
    background-color: rgb(202, 15, 202);
    color: white;
}
.very-High{
    background-color: rgb(202, 15, 15);
    color: white;
}
.high{
    background-color: rgb(236, 132, 34);
}
.moderate{
    background-color: rgb(248, 244, 11);
}
.low{
    background-color: rgb(64, 255, 6);
}
#nameOfCity,
#fivedayTitle{
    font-size: 35px;
    font-weight: bolder;
    padding-left: 15px;
}
#todayDate{
    font-size: 25px;
    font-weight: bolder;
}
#weatherImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.forcast{
    background-color: rgb(42, 122, 214);
    padding: 10px;
    margin: 10px;
    color: white;
}
#weatherImage2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.dateForcast{
    font-weight: bold;
    font-size: 20px;
}